@font-face {
    font-family: 'Jersey 20';
    src: url('fonts/Jersey20-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karrik-Regular';
    src: url('fonts/Karrik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karrik-Italic';
    src: url('fonts/Karrik-Italic.ttf') format('truetype');
}